<div class="container-fluid h-100 row">
  <div class="col h-100 d-flex flex-column">
    <div class="">{{papers.length}} papers</div>
    <div class="h-100 w-100 overflow-auto">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          ng-repeat="paper in papers"
          ng-click="selectPaper(paper)"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{paper.DN}}</h5>
            <small>{{paper.Id}}</small>
          </div>
          <p class="mb-1">Citations: {{paper.CC}} Year: {{paper.Y}}</p>
        </a>
        <a class="list-group-item" ng-hide="papers.length"> No papers found </a>
      </div>
    </div>
  </div>
  <div class="h-100 col overflow-auto" ng-if="paperURL">
    <pdfviewer src="{{paperURL}}"></pdfviewer>
  </div>
</div>
